/* Test theme
Version: 1.0.0.
Author Site: Natashenka */

@import url("reset.css");

/*General Styles*/

html {
height: 100%;
}

body {
	height: 100%;
	font-family:cursive;
}

#external_box {
	background-image:url(../img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;
	min-width: 1000px;
	width: 100%;
	min-height: 100%;
    padding-top: 50px;
}

#bottom_picture {
	position: absolute;
	bottom: -50px;
	background-color: transparent;
	background-image:url(../img/background2.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	min-width: 1000px;
	width: 100%;
	min-height: 400px;		
}

#internal_box{
background: rgba(255, 255, 255, 0.55);
border-top-left-radius: 30px;
border-top-right-radius: 30px;
//position: relative;
top: 100px;
//left: 100px;
width: 800px;
height: 800px;
display: block;
border: solid 2px white;
padding: 20px;
box-shadow: 0px 0px 20px;
margin: 0 auto;
}

#header {
	width: 100%;
}

#menu {
	text-align: center;
    background-color: #c6c6c6;
    border-top-left-radius:30px;
    border-top-right-radius:30px ;
}
.menuItema{
    border-right: 1 px solid #da7c0c;
    
}

.navigation {
	font-family:cursive;
	font-size: 30px;
	display: inline-block;
	//margin: 20px ;
    margin-top: 10px;
}

ul li a {
	outline: none;
	text-decoration: none;
	text-shadow: 0px 0px 10px white; 
}

a {
	color: 	#149514;
	text-shadow: 0px 0px 10px white;
    font-weight: bold; 
    padding: 10px;
}

a:hover{
	color: white;
	text-shadow: 0px 0px 1px #2A2A2A, 0px 0px 10px #C3C3C3;
	font-weight: bold;
}

.clear {
	clear: both;
}

#header{
	border-bottom: 2px solid #ffffff;
}
.chosen_li{
	color: white;
	text-shadow: 0px 0px 1px #2A2A2A, 0px 0px 10px #C3C3C3;
	font-weight: bold;
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-right: 2px white solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display:block;
    padding: 10px;
}

#content p{ 
	color: #2A2A2A;
	text-indent: 20px;
	text-align: justify;
	margin: 15px 10px;
	font-weight:80;
	line-height: 1.2;
}

.block img{
	width: 150px;
	height: auto;
	float: left;
	margin: 0px 10px 10px 0px;
	display: block;
	box-shadow: 0px 0px 8px white;
	border: 1px solid white;
	border-radius: 10px;
}

.block{
	margin: 15px 10px;
	border: 2px solid white;
	border-radius: 20px;
	padding: 10px 10px;
	
}

#gallery{
	width: 755px;
	margin: 25px auto;
}

img{
	width: auto;
	height: 135px;
	float: left;
	display: block;
	border: 1px solid white;
	
}
.forimga{
    margin: 10px 10px;
    box-shadow: 0px 0px 8px white;
    border-radius: 10px;
}
form#payment {
        background: rgba(88,150,12, 0.5);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        counter-reset: fieldsets;
        padding: 20px;
        width: 400px;
        }
        form#payment fieldset {
        border: none;
        margin-bottom: 10px;
        }

form#payment fieldset:last-of-type {
        margin-bottom: 0;
        }
        form#payment legend {
        color: #384313;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 10px;
        text-shadow: 0 1px 1px #C1F7FF;
        }
        form#payment > fieldset > legend:before {
        content: "??? " counter(fieldsets) ": ";
        counter-increment: fieldsets;
        }
        form#payment > fieldset > legend:before {
        content: "??? " counter(fieldsets) ": ";
        counter-increment: fieldsets;
        }
        form#payment ol li {
        background: #71b8ff;
        background: rgba(255,255,255,.3);
        border-color: #c6e3ff;
        border-color: rgba(255,255,255,.6);
        border-style: solid;
        border-width: 2px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        line-height: 30px;
        list-style: none;
        padding: 5px 10px;
        margin-bottom: 2px;
        }
                                                        
form#payment ol ol li {
        background: none;
        border: none;
        float: left;
        }
        form#payment label {
        float: left;
        font-size: 13px;
        width: 110px;
        }
        
form#payment fieldset fieldset label {
        background:none no-repeat left 50%;
        line-height: 20px;
        padding: 0 0 0 30px;
        width: auto;
        }
                                        
form#payment label[for=visa] {
        background-image: url(visa.gif);
        }
form#payment label[for=amex] {
        background-image: url(amex.gif);
        }
form#payment label[for=mastercard] {
        background-image: url(mastercard.gif);
        }
        
form#payment fieldset fieldset label:hover {
        cursor: pointer;
        }
        form#payment input:not([type=radio]),
form#payment textarea {
        background: #ffffff;
        border: none;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        font: italic 13px Georgia, "Times New Roman", Times, serif;
        outline: none;
        padding: 5px;
        width: 366px;
        }
                
form#payment input:not([type=submit]):focus,
form#payment textarea:focus {
        background: #eaeaea;
        }
        
form#payment input[type=radio] {
        float: left;
        margin-right: 5px;
        }
         .button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em; //* ?????????  ??????? ??? ??????????? ??????? *//
	text-shadow: 0 1px 1px rgba(0,0,0,.3); //* ?????? ???? ??? ?????? *//
	-webkit-border-radius: .5em;  //* ???????????? ???? *//
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); //* ?????? ???? ??? ????? ?????? *//
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin: 0 auto;
}
.button:hover {
	text-decoration: none;
}
.button:active {          //* ???????? ?? 1px ???? *//
	position: relative;  
	top: 1px; 
}
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d; /*???? ???? ?????? ??? ????????? ??? ????????? CSS3*/
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); /* ??? Webkit ????????? */
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20); /* ??? Firefox */
        background-image: -o-linear-gradient(top,  #faa51a,  #f47a20); /* ??? Opera 11 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); /* ?????? ??? IE */
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
        background-image: -o-linear-gradient(top,  #f88e11,  #f06015);/* ??? Opera 11 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
        background-image: -o-linear-gradient(top,  #f47a20,  #faa51a);/* ??? Opera 11 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
        