/* Test theme
Version: 1.0.0.
Author Site: Natashenka */

@import url("reset.css");


/*General Styles*/

html {
height: 100%;
}

body {
	height: 100%;
	font-family: Helvetica, sans-serif;
}

#external_box {
	background-image: url(img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;
	min-width: 1000px;
	width: 100%;
	min-height: 100%;
}

#bottom_picture {
	position: absolute;
	bottom: -50px;
	background-color: transparent;
	background-image: url(img/background2.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	min-width: 1000px;
	width: 100%;
	min-height: 400px;		
}

#internal_box{
	background: rgba(255, 255, 255, 0.55);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	position: relative;
	top: 100px;
	margin: 0 auto;
	width: 800px;
	height: 600px;	
	display: block;
	border: solid 2px white;
	padding: 20px;
	box-shadow: 0px 0px 20px white;
}

#content{
	background: rgba(113, 166, 28, 0.65);
	height: 550px;
	width: 800px;
	position: absolute;
	top: 70px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#header {
	width: 100%;	
}

#menu {
	text-align: center;	
}

.navigation {
	font-size: 30px;
	display: inline-block;
	margin:0;
}

ul li a {
	outline: none;
	text-decoration: none;
	text-shadow: 0px 0px 10px white; 
}

a {
	color: #266924;
	text-shadow: 0px 0px 10px white; 
}

a:hover{
	color: white;	
}

.clear {
	clear: both;
}

#header{
	
}

#chosen_li{
	color: white;
	background: rgba(113, 166, 28, 0.65);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

li a{
	display: block;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background: rgba(83, 121, 21, 0.70);
	height: 40px;
	width: 150px;
	padding-top: 10px;
	margin: 0;
}

#content p{ 
	color: #2A2A2A;
	text-indent: 20px;
	text-align: justify;
	margin: 10px 5px 5px 0;
	line-height: 1.2;
}

.block img{
	width: 150px;
	height: auto;
	float: left;
	margin: 0px 10px 0px 0px;
	display: block;
	box-shadow: 0px 0px 8px white;
	border: 2px solid white;
	border-radius: 10px;
}

.block{
	margin: 15px;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px 10px;
	background: rgba(255, 255, 255, 0.25);
}

#gallery{
	width: 755px;
	margin: 25px auto;
}

span{
	font-weight: 700;
	color: white;
}

.pages{
	margin: 3px;
	position: absolute;
	left: 260px;
}
.pages_links{
 	color: white;
 	padding: 0 10px 0 0;
 }

.pages_links:hover{
	font-weight: 700;
}

.chosen{
	font-weight: 700;
}

.block1{
	margin: 20px 15px 15px;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px 10px;
	background: rgba(255, 255, 255, 0.25);
}

.block1 img{
	width: 150px;
	height: auto;
	float: left;
	margin: 0px 10px 0px 0px;
	display: block;
	box-shadow: 0px 0px 8px white;
	border: 2px solid white;
	border-radius: 10px;
}

p{
	cursor:default;
}
a {
	cursor: pointer;
	text-decoration: none;
}
